body {
	background-color: #d7d7d7;
	margin: 0px auto;
	font-family: 'Armio', sans-serif;
  overflow: hidden;
  width: 100%;
  height:  1280px;  /*100%;*/
}

button {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 11px/1 "Armio", sans-serif, "Lucida Sans";
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 120px; }
  button:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  button:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }


h2 {
	font-weight: none;
}

#modal-overlay {
    display: none;  /* ensures it’s invisible until it’s called */
    position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: rgba(17, 15, 15, 1.0);
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 10010;
}

#first-node-upload {
  display: none;
  position:absolute;
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
  top: 40%;
  color: #A20C4A; 
  font-size:19px;
  text-align: center;
  width: 100%;
   : 10009;

}

#main-wrapper {
	position: relative;
	margin: 0px auto;
	width: 100%;
  height: 100%;
	overflow: hidden;
	z-index:1000;
}


.show {
	display: block;
}

.hide {
	display: none;
}

#user-data-window {
  height: 596px;
  width: 550px;
  position: absolute;
  top: -250px;
  left: 34%;
  /*padding: 10px 27px;*/
  z-index: 10018;
  display: none;
  border: 1px solid #555;
  color: #fff;
  background-color: rgb(231,231,231);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#user-data-user-info {
  margin: 0;
  padding: 12px;
  /*width: 100%;*/
  position: relative;
  display: block;
  background-color: #222222;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  z-index: 10011;
}

#user-data-prof-pic {
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

#user-data-username {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  /*color: #A20C4A;*/
  color: rgb(231,231,231);
  width: 100%;
  margin: 0;
  padding: 0;
}

.user-data-divider {
  background-color: #222222; /*8E8F8F*/
  height: 2px;
  width: 92%;
  z-index: 10001;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  opacity: 0.4;
  margin: 25px auto 0 auto;
}

.user-data-list {
  overflow: auto;
  height: 169px;
  margin: 0 24px;
}

.user-data-header-container {
  margin: 18px 20px 5px 25px;
}

.user-data-logo {
  float: left;
  margin-right: 7px;
  height: 40px;
}

.user-data-subhead {
  display: block;
  font-style: italic;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  color: rgb(105,105,105);
}

.user-data-share-icon {
  width: 20px;
  margin: 0 10px;
}

.user-data-share-icon:hover {
  cursor: pointer;
}

.user-data-head {
  color: #A20C4A;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}

.user-data-list-item {
  display: block;
  color: #444444;
  margin: 4px 0;
  font-size: 15px;
}
/*
.user-data-list-item:hover {
  background-color:#A20C4A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}*/

.user-data-list-item a {
  color: #444444;
  text-decoration: none;
}

.user-data-list-item a:hover {
  color: #888888;
  /*color: #CCCCCC;*/
  text-decoration: none;
}

#fb-root .fb_dialog {
  z-index: 12000;
}

#create-tree-window button, #upload-text-window button {
   border-top: 1px solid #a81b66;
   background: #d11041;
   background: -webkit-gradient(linear, left top, left bottom, from(#f73b70), to(#d11041));
   background: -webkit-linear-gradient(top, #f73b70, #d11041);
   background: -moz-linear-gradient(top, #f73b70, #d11041);
   background: -ms-linear-gradient(top, #f73b70, #d11041);
   background: -o-linear-gradient(top, #f73b70, #d11041);
   padding: 6.5px 13px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rrgba(0, 0, 0, 0.21) 0 1px 0;
   -moz-box-shadow: rgba(0, 0, 0, 0.21) 0 1px 0;
   box-shadow: rgba(0, 0, 0, 0.21) 0 1px 0;
   text-shadow: rgba(0,0,0,0.4) 0 1px 0;
   color: white;
   font-family: 'Oxygen', Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 46%;
   height: 7%;
   font-size: 16px;
   margin: 0 5px;
   border: 1px solid #d11041;
   }
#create-tree-window button:hover, #upload-text-window button:hover {
  border-top-color: #d42652;
  background: #d42652;
  color: #ffffff;
}
#create-tree-window button:active #upload-text-window button:active {
  border-top-color: #b8124f;
  background: #b8124f;
}

#create-tree-window, #upload-text-window {

  height: 250px;
  width: 520px;
  position: absolute;
  top: -250px;
  left: 36%;
  z-index: 10011;
  display: none;
  border: 1px solid #555;
  background-color: #EEEEEE;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#create-tree-info, #upload-info {
  width: 100%;
  position: relative;
  display: block;

  margin: auto;
  z-index: 10011;
}

#create-tree-info input, #upload-info input {
  padding: 0 3px;
  /*margin: 5px 0px;*/
  /*width: 510px;*/
  height: 23px;
  width: 76%;
  font-size: 14px;
  color: rgb(95, 95, 95);
  margin: 4px 0;
  display: block;
  border: 0;
  background-color: rgb(224, 224, 224);
  z-index: 10011;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

#create-tree-wrapper, #upload-wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#create-tree-user-info, #upload-user-info {
  width: 100%;
}

#create-tree-header, #upload-header {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  color: rgb(231,231,231);
  background-color: #333333;
  padding: 10px 0;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;

}

.popup-header-logo {
  margin-right: 2px 3px 2px 0;
  height: 32px;
  vertical-align: middle;
}

#create-tree-button-container, #upload-button-container {
  width: 76%;
  margin: 0 auto;
}
/*
#create-tree-info button {
    background-color: #33cc33;
    width: 46%;
    height: 7%;
    font-size: 20px;
    margin: 0 3px;
    font-family: 'Armio', sans-serif;
    
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;

    z-index: 10011;
}*/

#create-tree-user-info, #upload-user-info {
  width: 100%;
  margin: 37px auto 10px auto;
}

#create-tree-prof-pic, #upload-prof-pic {
  vertical-align: middle;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#create-tree-username, #upload-username {
  font-size: 18px;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 0;
  font-family: 'Oxygen', sans-serif;
  color: rgb(63,63,63);
}

/*
#create-tree-button {
    background-color: #33cc33;
    width: 260px;
    height: 50px;
    font-size: 32px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10011;
}

#cancel-create-tree-button {
    background-color: #FF0000;
    width:55px;  
    z-index: 10011;
}
*/

#upload-username {
  font-size: 14px;
}

#upload-date {
  display: block;
  font-size: 12px;
  color: #969696;
}

#upload-info input {
  margin: 1px 0;
  height: 19px;
}



/*
#upload-text-window {
  height: 250px;
  width: 520px;
  position: absolute;
  top: -250px;
  left: 36%;
  z-index: 10011;
  display: none;
  border: 1px solid #555;
  color: #fff;
  background-color: #AAAAAA;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#upload-info {
  padding: 16px 0;
  width: 95%;
  position: relative;
  display: block;

  margin: auto;
  z-index: 10011;
}

#upload-info input {
  padding: 2px 3px;
  /*margin: 5px 0px;*/
  /*width: 510px;*/
  /*height: 20%;
  width: 77%;
  font-size: 19px;
  color: #333333;
  margin: 3px auto;
  display: block;
  z-index: 10011;
}

#upload-info button {
    background-color: #33cc33;
    width: 46%;
    height: 7%;
    font-size: 20px;
    font-family: 'Armio', sans-serif;
    margin: 0 3px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

    z-index: 10011;
}*/
/*
#submit-button {
    background-color: #33cc33;
    width:57px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10011;
}

#cancel-button {
    background-color: #FF0000;
    width:55px;
    z-index: 10011;
}
*/
/*
#upload-button-container {
  width: 84%;
  margin: 0 auto;
}

#upload-header {
  font-size: 28px;
  font-family: 'Oxygen', sans-serif;
  color: #A20C4A;
  display: block;
  width: 100%;
  margin: 1px auto;
  text-align: center;
}

#upload-user-info {
  width: 100%;
  margin: 12px auto;
  text-align: center;

}

#upload-prof-pic {
  vertical-align: middle;
}*/

/*#upload-username {
  font-size: 23px;
  margin-left: 4px;
  margin-right: 0;
  vertical-align: middle;
}*/

/* Header Styles */
#header {
	width: 100%;
	height: 63px;
	background-color: rgba(38, 40, 41, 1.0);  /*#262829;*/
	z-index: 10021;
	border-bottom: 1px solid #555;
}

#header-logo {
  width: 100%;
  top: 2px;
}

#header-title-wrapper {
}

#header-title {
	font-family: 'Roboto', sans-serif;
  font-weight: 300;
	color: #FFFFFF;
	font-size: 32px;
}

#header-subtitle{
	color:#A6A6A6;
	font-size:15px;
  position: relative;
  top: -5px;
  font-weight: 300;
  font-family: 'Pontano Sans', sans-serif;
}

#header-logo-img {
  width:100px;
  height: 100px;
}

#header-interaction {
  position: relative;
  right: 0px;  
  height: 100%;
}

#header-tree-info {
  height: 63px;
  position: absolute;
  width:100%;
  text-align: center;
  margin: 0 auto;
  display: table;
}

#tree-title {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #25C370;
}

#tree-title:hover {
  color: rgb(175, 175, 175);
}

#add-tree {
  height:100%;
}

#add-tree-icon {
  /*margin-left: 0px;*/
  /*margin-top: 10px;*/
  width: 36px;
  height: 36px;
}

#explore {
  height: 100%;
  width: 90px;
}

#sign-up {
  width: 100px; /*width: 65px;*/
  height:100%;
  text-align: center;

}

#logged-in {
  float:left;
  height: 100%;
  width:150px;
  display:none;
}


.user-img-container {
  height: 100%;
  vertical-align: middle;

}


#gear-icon {
  width: 20px;
  height: 20px;
}

#user-img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px
}

.vertical-center-header{
  position: relative;
  top: 22px; /*35%;*/
}

#header-link-container {
  height: 100%;
  /*padding-right: 10px;*/
}


.header-link {
  height: 100%;
  font-size: 18px;
  color:  rgb(194, 194, 194); /*#626263;*/
  padding-left: 10px;
  padding-right: 10px;
}
.header-link:hover, .header-img-link:hover {
  background-color:#A20C4A;
  color: #ffffff;
  cursor: pointer;
}

.header-img-link {
  color:  rgb(194, 194, 194); /*#626263;*/
  padding-left: 10px;
  padding-right: 10px;


}


#search-submit:hover, #search-submit:active, #log-in:hover, #log-in:active{
	background-color: #00D3CB;
}

#log-in {
	position:relative;
	float: right;
	border: 1px solid #555;
	background-color: #00FFF5;
	padding: 8px 10px;
}



#tree-view {
  width: 100%;
}

/* App Drawer Container */

#floater  {float:left; height:50%; margin-bottom:-500px;}
#top    {float:right; width:100%; text-align:center;}

#control-wrap {
  position:relative;
  height: 500px;
  width: 100%;
  display:block;
  clear:both;
}


#controls-container {
  position:relative;
  margin: 0px auto;
  width: 680px;
  top: 0px;
  height: 300px; /*200*/
  /*opacity: 0.1;*/
  background-color: rgba(40, 42, 43, 1.0);
  z-index: 10008;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;

}

.controls-subcontainer {
  height: 100%;
  position: relative;
  margin-top: 6px;
  display:block;
  float:left;
  text-decoration: none;
}

.controls-divider {
  background-color: rgba(167, 167, 167, 0.7);
  height: 93%;
  width: 2px;
  z-index: 10001;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  margin: 8px 1px 10px 12px;
}

.controls-hover{}

.controls-text {
  color:#CCCCCC; 
  font-size:12px;
}

.controls-title {
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
  color: #25C370; 
  font-size:19px;
}

.controls-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: #A6A6A6;
  font-size: 14px;
  position: relative;
  top: -1px;
  font-style: italic;
}

.controls-symbol {
  color: #A6A6A6;
  padding-right: 2px;
}





/* Contribution List CSS */
#contrib-container {
  min-width: 445px;
}

#contrib-title {

}

.contrib-subtitle {
  position: relative;
  top: -1px;
  font-style: italic;
}

#contrib-sound-img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  position: relative;
  top: 4px;
}

#record-sound-img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  position: relative;
  top: 4px;
  opacity: 0.0;
}

#contrib-list {
	overflow: auto;
	height: 153px;
  width: 100%;
  margin-top: 0px;
}

#contrib-list li { 
  list-style-type: none; 
}
.contrib-list-item {
  width: 100%;
  height: 17px;
  padding-bottom: 2px;
  font-size: 13px;
  clear: both;
}

.contrib-item-desc {
  font-family: 'Pontano Sans', sans-serif;
}


.contrib-list-item label{
  cursor: pointer;
  display:block;
}
.contrib-list-item:hover {
  background-color:#A20C4A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



.contrib-node-title {
  font-weight: bold;
  font-style: italic;
  font-size: 14px;

}

.contrib-node-artist {
  font-size: 12px;
}

.contrib-node-date {
  font-size: 12px;
  color: #969696;
  font-family: 'Armio', sans-serif;
}




.contrib-date {
  font-size: 12px;
  color: #969696;
}

/* Creates a circular div*/
.contrib-circle{
    position: relative;
    display: inline-block;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    /*border: 1px solid rgb(158, 158, 158);*/
    top: 0px;
    width: 11px;
    height: 11px;
    margin-right: 5px;
    margin-left: 2px;
}

 

#loading-container {
  position: absolute;
  top: 45%;
  left: 45%;
}

#record-container {
  width: 100%;
  padding: 10px;

}


#play-container {
  min-width:  200px;
  width: 25%;
}


#play-symbol {
  font-size: 17px;
}


#user-contrib-list {
  /*border: 1px solid red;*/
  overflow: auto;
  height: 66px;
  width: 100%;
  margin-top: 2px;
}

#user-contrib-list li { 
  list-style-type: none; 
}


.user-contrib-list-item label{
  padding-top: 3px;
  cursor: pointer;
  display:block;
}
.user-contrib-list-item:hover {
 /* background-color:#A20C4A;*/
 background-color: #106587;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}






#playback-container {
	padding: 10px 0px;
	clear: both;
}

#playback-tracker {
	padding: 10px 0px;
}
#playback-controls {
	padding: 10px 0px;
}

#record-player {
}

#record-button {}

/*.record-button {
	position: absolute;
	top: 5px;
	left: 160px;
	text-align: center;
}*/

#play-time-line {

}

.visualization-bg {
	top: 200px;
	left: 200px;
	position:absolute;
}




#stop-record-button {}
#start-record-button {}

#waveform-view-container {
  z-index: 9000;
  width: 800px;
  height: 50px;
  position: absolute;
}

#waveform-canvas {
	width: 100%;
	height: 100%;
	clear: both;
	margin: 0 auto;
	background-color: none;
}

#recording-canvas {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

#playhead-canvas {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}


#viz-canvases {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  display: inline;
}

#spectrum-container {
  border-bottom: 2px solid rgba(167, 167, 167, 0.7);
  width: 122px;
  display: inline-block;

}

#spectrum-canvas {
  width: 116px;
  height: 42px;
  opacity: 0.7;
}

#volume-container {
  border-bottom: 2px solid rgba(167, 167, 167, 0.7);
  display: inline-block;
  width: 44px;
}

#volume-canvas {
  width: 40px;
  height: 42px;
  /*width: 43px;*/
  /*height: 58px; 68 full size*/
  opacity: 0.7;
  position: relative;
  top: 2px;
}

#record-button{
	clear: left;

}
#record-button, #upload-button, #play-sounds-button, #get-button, #monitor-button {
	display: inline-block;
	margin: 3px;
	
}


#rec-wrapping {
  text-align: center;
  width: 100%;

}

#recording-controls {
  text-align: center;
  vertical-align: middle;
  z-index: 15000;
  width: 100%;
  /*top: -66px;*/
}


.record-control-button-border {
  /*border: 1px solid rgba(255, 0,0, 1.0);*/
}

#monitor-button-container, #record-button-container  {
  width: 62px;
  height:54px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: -4px;

}
#record-button-container {
  position: relative;
  top: -45px;
}



#monitor-button-wrap {
  position: relative;
  text-align: center;
  height: 100%;
  font-size: 8px;
  padding-top: 1px;

}

#monitor-button-container:hover, #record-button-container:hover {
  background-color:#A20C4A;
  /*border: 1px solid rgba(194, 194, 194, 0.7);*/
  color: #ffffff;
  cursor: pointer;
  padding-bottom:3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

#monitor-button {
  width: 42px;
  height: 32px;
}


#monitor-button-text {
}

#monitor-off {
  display: block;
  position: absolute;
  top: 12px;
  left: 19px;
  color: rgba(235, 71, 71, 0.77);
  font-size: 42px;
  font-weight: lighter;
  font-family: helvetica, 'Pontano Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



#record-button-wrap{
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;

}

#record-button {}

#record-button-img {
  width: 32px;
  height: 32px;

}
#record-button-color-on {
  display: none;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 6px;
  left: 6px;
  background-color: rgba(213, 4, 4, 0.9);
}
#record-button-color-off {
  display: block;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 6px;
  left: 6px;

  background-color: rgb(65, 65, 65);
}

#record-button-color-bg {
  position: relative;
  text-align: center;
  height: 30px;
  width: 30px;
  left: 17px;
  top: 2px;
  background-color: rgb(153, 153, 153);

}
#record-color-wrapper {
  text-align: center;
}


#record-button-text {

}

.record-controls-text {
  text-align:center;
  font-size: 13px;
  color: rgb(194, 194, 194);
}

#no-recordings {
  list-style-type: none;
  margin-top: 2px; 
}



.circular {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;

}


#play-button-container {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 54px;
  margin-left: 4px;
  top: -42px;

}

#play-button-container:hover {
    background-color:#A20C4A;
  /*border: 1px solid rgba(194, 194, 194, 0.7);*/
  color: #ffffff;
  cursor: pointer;
  padding-bottom:3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;

}

#play-button-wrap {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

#play-color-wrapper {
  text-align: center;
  top: -2px;
  position: relative;
}

#play-arrow-right{
  display:block;
  position: relative;
  left: 10px;
  top: 4px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid rgb(65, 65, 65);
}


#stop-container {
  display:none;
  position: absolute;
  width: 15px;
  height: 14px;
  top: 8px;
  left: 8px;
  background-color: rgb(65, 65, 65);
}
#pause-container {
  position: absolute;
  width: 20px;
  height: 15px;
  top: 8px;
  left: 6px;
  background-color: rgb(65, 65, 65);
}
.pause-slice {
  height: 15px;
  width:10px;
  background-color: rgb(65, 65, 65);
}
.pause-gap {
  height:15px;
  width:8px;
  background-color: transparent;
}


#play-button-color-bg {
  position: relative;
  text-align: center;
  height: 30px;
  width: 30px;
  left: 17px;
  top: 2px;
  background-color: rgb(153, 153, 153);
  z-index:15000;
}



#upload-control-button-container {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 54px;
  margin-left: 4px;
  top: -42px;

}

#upload-control-button-container:hover {
  background-color:#A20C4A;
  /*border: 1px solid rgba(194, 194, 194, 0.7);*/
  color: #ffffff;
  cursor: pointer;
  padding-bottom:3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;

}

#upload-button-wrap {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

#upload-color-wrapper {
  text-align: center;
  top: -2px;
  position: relative;
}


#upload-button-color-bg {
  position: relative;
  text-align: center;
  height: 30px;
  width: 30px;
  left: 17px;
  top: 2px;
  background-color: rgb(153, 153, 153);
}


#upload-arrow {
  position: relative;
  left: 5px;
  top: 2px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid rgb(65, 65, 65);

}



#upload-arrow-block {
  display: block;
  position: relative;
  width: 6px;
  height: 14px;
  top: -2px;
  left: 12px;
  background-color: rgb(65, 65, 65);
}




#node-hover-view {
	color: #EEE;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 11.0px;
	position: absolute;
	/*width: 220px;*/
	/*padding: 5px 7px;*/
	/*background-color: rgba(55,55,55, 0.8);*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 999999;
	display: none;
}


.node-hover-bg {
  background-color: rgba(55,55,55, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.node-hover-title {
  font-weight: bold;
   font-style: italic;
  font-size: 12px;

}

.node-hover-artist {
  font-size: 11px;
 
}

.node-hover-date {
  font-family: 'Armio', sans-serif;
  font-size: 11px;
  color: rgb(177,177,177);
}

.node-hover-width {
  width: 220px;
}

.node-hover-pos {
  position: relative;
  top: 2px;
}

.node-hover-pic {
  height: 50px;
  width: 50px;
  float:left;
  vertical-align: middle;
  margin-right: 4px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}


.pontano-style {
  font-family: 'Pontano Sans', sans-serif;
}
/* General Styles */
.medium-wt {
  font-weight: 500;
}
.v-mid {
  vertical-align: middle;
}
.text-left {
  text-align: left;
}

.center {
  text-align: center;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}

.pad-right {
  margin-right: 20px;
}

.pad-right-med {
  margin-right: 12px;
}

.marg-top-sm {
  margin-top: 3px;
}

.fl-left-inblock {
  float: left;
  display: inline-block;
}
.full-height {
  height: 100%;
}

.table-cell {
  display:table-cell;
}

.inline-block {
  display: inline-block;
}
.header-height {
  height: 63px;
}
.full-width {
  width: 100%;
}


.pink-button button {
   border-top: 1px solid #a81b66;
   background: #d11041;
   background: -webkit-gradient(linear, left top, left bottom, from(#f73b70), to(#d11041));
   background: -webkit-linear-gradient(top, #f73b70, #d11041);
   background: -moz-linear-gradient(top, #f73b70, #d11041);
   background: -ms-linear-gradient(top, #f73b70, #d11041);
   background: -o-linear-gradient(top, #f73b70, #d11041);
   padding: 6.5px 13px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rrgba(0, 0, 0, 0.21) 0 1px 0;
   -moz-box-shadow: rgba(0, 0, 0, 0.21) 0 1px 0;
   box-shadow: rgba(0, 0, 0, 0.21) 0 1px 0;
   text-shadow: rgba(0,0,0,0.4) 0 1px 0;
   color: white;
   font-family: 'Oxygen', Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   font-size: 16px;
   margin: 0 5px;
   border: 1px solid #d11041;
   }
.pink-button  button:hover {
  border-top-color: #d42652;
  background: #d42652;
  color: #ffffff;
}
.pink-button  button:active {
  border-top-color: #b8124f;
  background: #b8124f;
}

#upload-button-container, #play-button-container,#record-button-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

